Lo que se busca es brindar ayuda al personal de la papelería, teniendo como solución un sitio web sencillo y practico, el sitio web constara de una conexión sencilla entre la papelería y los clientes, la cual debe ser capaz de poder brindar a sus clientes un inicio con los descuentos en artículos e información de la papelería, esto para compras en línea, después agregar datos de los clientes para entra a la papelería o renta de computadoras al entrar al catálogo los productos se mostraran con imagen, precio y descripción y si están disponibles o no continuamente la disponibilidad de rentas de computadoras, por lo cual la página web sería fácil de usar para los empleados y los clientes, para así tener algunos beneficios por ejemplo, descuentos en artículos. 
